.dragable-modal-container {
    position: fixed;
    left: 30%;
    top: 100px;
    z-index: 700;
    overflow: auto;
    outline: 0;
    display: inline-block;
    &:hover{
        cursor: move;
    }
    .ant-modal-wrap {
        position: static !important;
        .self-modal {
            margin: 0;
            padding: 15px;
            position: static;
        }
    }
}
